JWT_SECRET=supersecret_change_me_in_production
DATABASE_URL=postgresql://order_user:order_pass@postgres:5432/order_db
REDIS_URL=redis://redis:6379/0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
TEST_REPORT_DIR=./reports
NOTIFICATION_SERVICE_URL=
MENU_SERVICE_URL=
LOGIN_SERVICE_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
